# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dev
.temp
*.patch
**/migrations/data/*

# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# project specific
*.t.txt
*.t.*

*.log

junk/
docs/tmp/
.react-email/
src/db/scripts/input/
src/db/scripts/out/
src/db/scripts/maps/
src/db/scripts/criteria/
src/db/scripts/misc/