[Unit]
Description=Amps-app startup service

[Service]
EnvironmentFile=/etc/environment
Type=exec
ExecStart=amps start

[Install]
WantedBy=multi-user.target