@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 47.4% 11.2%);

  --primary: hsl(207 100% 20%);
  --primary-foreground: hsl(210 40% 96.1%);

  --secondary: hsl(207 100% 30%);
  --secondary-foreground: hsl(210 40% 96.1%);

  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(207 100% 20%);

  --destructive: hsl(0 100% 40%);
  --destructive-foreground: hsl(210 40% 98%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 47.4% 11.2%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 47.4% 11.2%);

  --border: hsl(214.3 31.8% 91.4%);

  --input: hsl(214.3 31.8% 91.4%);
  --input-dark: hsl(215 25% 27%);

  --ring: hsl(215 20.2% 65.1%);

  --radius: 0.5rem; /* might be useless */

  --sidebar-background: var(--accent);
  --sidebar-foreground: var(--accent-foreground);

  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar: hsl(0 0% 98%);
  --sidebar-primary: hsl(207 100% 20%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@custom-variant dark (&:is(class *));

@theme {
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1700px;

  --container-8xl: 88rem;
  --container-9xl: 96rem;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-destructive-foreground: var(--destructive-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-dark: var(--input-dark);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  ::-webkit-scrollbar:vertical {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-slate-600;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility dbg-* {
  outline: 2px solid --value(--color- *);
}
